@import "gruvbox.css";

* {
    padding: 0;
    margin: 0;
    font-family: monospace;
    /* font-size: 14px; */
}

window#waybar {
    background: @background;
    color: @foreground;
}

#window,
#tags,
#custom-spotify,
#custom-music,
#temperature,
#bluetooth,
#battery,
#network,
#wireplumber,
#custom-weather,
#clock {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#tags {
    padding-left: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#tags button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @bright_black;
}


#tags button {
    /* Disable animation on click */
    transition-property: none;

    font-size: 0;
    min-width: 16px;
    min-height: 16px;
    margin: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 30px;
    border: 2px solid @bright_black;
    background-color: @bright_black;
    /* transition: 100ms; */
}

#tags button.occupied {
    border: 2px solid @foreground;
    /* background-color: @foreground; */
}

#tags button.occupied.focused {
    border: 2px solid @foreground;
}

#tags button.focused {
    min-width: 28px;
    border: 2px solid @blue;
    background: @blue;
    /* transition: 100ms; */
}

#tags button.urgent
#tags button.focused.urgent
#tags button.occupied.urgent {
    border: 2px solid @red;
}

#image, #custom-spotify, #custom-music {
    border-bottom: 2px solid @green;
}

#temperature {
    border-bottom: 2px solid @cyan;
}

#temperature.critical {
    color: @red;
    border-bottom: 2px solid @red;
}

#bluetooth {
    border-bottom: 2px solid @blue;
}

#battery {
    border-bottom: 2px solid @yellow;
}

#battery.charging {
    border-bottom: 2px solid @bright_yellow;
}

#battery.100 {
    border-bottom: 2px solid @bright_green;
}

#battery.20:not(.charging) {
    color: @red;
    border-bottom: 2px solid @red;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

#network {
    border-bottom: 2px solid @magenta;
}

#wireplumber {
    border-bottom: 2px solid @bright_magenta;
}

#wireplumber.muted {
    color: @orange;
    border-bottom: 2px solid @orange;
}

#custom-weather {
    border-bottom: 2px solid @bright_blue;
}

#clock {
    border-bottom: 2px solid @bright_orange;
}
