root = true

[*]
tab_width = 8
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.py]
indent_style = space
indent_size = 4

[*.{nix,lua,yml,yaml,md,toml,sh}]
indent_style = space
indent_size = 2

[*.{lock,diff,patch,age}]
charset = unset
end_of_line = unset
trim_trailing_whitespace = unset
insert_final_newline = false
