[Desktop Entry]
Type=Application
Name=Chromium
Exec=$XDG_DATA_HOME/ungoogled-chromium/chrome-wrapper %U
#Terminal=false
#MimeType=text/html;text/xml;application/xhtml_xml;
