[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium
Exec=/home/ratakor/.ungoogled-chromium/chrome-wrapper %U
Terminal=false
Icon=/home/ratakor/.ungoogled-chromium/product_logo_48.png
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;
